1. Write a program in Python to find the addition & average of three float numbers.

In [1]:
a = 32.33
b = 12.56
c = 6.68
print("Sum is: ",a+b+c)
print("Average is: ",(a+b+c)/3)

Sum is:  51.57
Average is:  17.19

2. Write a program in Python to find the volume of a sphere with radius 6cm.

In [2]:
rad = 6
vol = (4/3)*3.14*(rad**2)
print("volume of sphere with radius 6cm is ",vol,"cm3")

volume of sphere with radius 6cm is  150.72 cm3

3. Write a program in Python to find the area of a circle.

In [3]:
rad = 6
area = 3.14*(rad**2)
print("Area is ",area,'cm2')

Area is  113.04 cm2

4. Write a program in Python to compute simple Interest.

In [4]:
p = 5000
r = 14.66
t = 2
SI = (p*t*r)/100
print("Simple Interest is: ",SI)

Simple Interest is:  1466.0

5. Write a program in Python to swap two numbers without using third variable

In [5]:
a = 5
b = 10
print("currently, a is",a,"and b is",b)
a = a ^ b
b = b ^ a
a = a^ b
print("now, a is",a,"and b is",b)

currently, a is 5 and b is 10
now, a is 10 and b is 5

6. Write a program in Python to convert any temperature from Celcius to Fahrenheit.

In [6]:
Celcius = 34
Fahrenheit = (9/5) * Celcius + 32
print(Celcius,"°C =",Fahrenheit,"°F")

34 °C = 93.2 °F

7. Write a program in Python to convert a given number of days into days, month, year and week

In [8]:
days = 366
years = days // 365
days %=  365
months = days // 30
days %= 12
weeks = days // 7
days %= 7
print(years,"years",months,"months",weeks,"weeks",days,"days")

1 years 0 months 0 weeks 1 days

8. Write a Python Program to find the gravitational force acting between two objects.

                                                [G=N*(m1*m2)/d^2]

In [9]:
mass1 = 50
mass2 = 30
distance = 10
GForce = (6.67 * (10 ** (-11)) * mass1 * mass2)/(distance ** 2)
print("Gravitational Force is", GForce)

Gravitational Force is 1.0005e-09

9. Write a program in Python to find given no is Even or Odd.

In [16]:
num = 5
if(num % 2 == 0):
    print(num,"is even")
else:
    print(num,"is odd")

5 is odd

10. Take input from user if it is greater than 15 print two times of difference if it’s less than 15 print four times of difference.

In [17]:
num = int(input("Enter number: "))
if(num > 15):
    print("Output is",2*(num - 15))
else:
    print("Output is",4*(15-num))

Enter number:  20

Output is 10

11. Write a program in Python to find largest among three numbers.

In [18]:
a,b,c = 10,5,15
if(a > b):
    if(a > c):
        print("a is largest")
    else:
        print("c is largest")
elif(b>c):
    print("b is largest")
else:
    print("c is largest")

c is largest

12. Write a program in Python to check a triangle is equilateral,scalene or isosclees..

In [19]:
a = 5
b = 10
c = 5
if(a==b and b==c):
    print("Equilateral")
elif(a==b or b==c or c==a):
    print("Isoscles")
else:
    print("Scalene")

Isoscles

13. Write a program in Python to check a given year is leapyear or not.

In [22]:
year = 1402
if(year % 400 == 0):
    print("Leap Year")
elif(year % 100 != 0):
    print("Not Leap Year")
elif(year % 4 == 0):
    print("Leap Year")
else:
    print("Not Leap Year")

Not Leap Year

14. Take marks of a student of four different subject find average depending on average find Grade(if marks >=75 i.e,’A’ or >=60 but <=75 i.e,’B’ or >=40 but <=60 i.e,’C’ or <=40 i.e,’D’).

In [25]:
sub1 = int(input("Enter marks for sub1: "))
sub2 = int(input("Enter marks for sub2: "))
sub3 = int(input("Enter marks for sub3: "))
sub4 = int(input("Enter marks for sub4: "))
averg = (sub1+sub2+sub3+sub4)/4
if(averg >= 75):
    print("A")
elif(averg >= 60):
    print("B")
elif(averg >= 40):
    print("C")
else:
    print("D")

Enter marks for sub1:  67
Enter marks for sub2:  65
Enter marks for sub3:  78
Enter marks for sub4:  89

B

15. Write a program in Python to implement a simple calculator

In [16]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
o = input("Enter operator: ")
if(o == "+"):
    print(a+b)
elif(o == "-"):
    print(a-b)
elif(o == "*"):
    print(a*b)
elif(o == "/"):
    print(a/b)

Enter a:  10
Enter b:  6
Enter operator:  +

16

16. Write a program in Python to find the roots of Quadratic equation. ram to perform Linear search.

In [1]:
import math

# Function to find the roots of a quadratic equation
def find_roots(a, b, c):
    # Calculate the discriminant
    discriminant = b**2 - 4*a*c
    
    # Check if roots are real or complex
    if discriminant > 0:
        root1 = (-b + math.sqrt(discriminant)) / (2 * a)
        root2 = (-b - math.sqrt(discriminant)) / (2 * a)
        return f"Roots are real and different: {root1}, {root2}"
    elif discriminant == 0:
        root = -b / (2 * a)
        return f"Roots are real and the same: {root}"
    else:
        real_part = -b / (2 * a)
        imaginary_part = math.sqrt(-discriminant) / (2 * a)
        return f"Roots are complex: {real_part} ± {imaginary_part}i"

# Example usage:
a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))
print(find_roots(a, b, c))

Enter coefficient a:  6.0
Enter coefficient b:  12.0
Enter coefficient c:  2.0

Roots are real and different: -0.18350341907227405, -1.816496580927726

17. Write a program in Python to print 1 to n.

In [3]:
n = 8
for i in range(1,n+1):
    print(i,end=' ')

1 2 3 4 5 6 7 8

18. Write a program in Python to print sum of natural number.

In [4]:
n = 10
sum = 0
for i in range(1,n+1):
    sum += i
print("sum is: ",sum)

sum is:  55

19. Write a program in Python to print Sum of Digit.

In [5]:
n = 123456
ns = str(n)
sum = 0
for i in ns:
    sum += int(i)
print("Sum of digit is: ",sum)

Sum of digit is:  21

20. Write a program in Python to print Factors of a Number.

In [7]:
n = 10
for i in range(1, n//2 +1):
    if(n % i == 0):
        print(i, end=' ')

1 2 5

21. Write a program in Python to print Reverse of a Number.

In [9]:
n = 123
rev = 0
while(n != 0):
    r = n % 10
    rev = 10*rev + r
    n //= 10
print("Reversed number is: ",rev)

Reversed number is:  321

22. Write a Python program to find Factorial of a given number.

In [10]:
n = 10
fact = 1
while(n > 0):
    fact *= n
    n -= 1
print("Factorial is: ", fact)

Factorial is:  3628800

23. Write a Python program to check a number is palindrome or not.

In [11]:
n = 121
rev = 0
m = n
while(n != 0):
    r = n % 10
    rev = 10*rev + r
    n //= 10
print(m == rev)

True

24. Write a Python program to check a number is prime or not.

In [12]:
n = 5
count = 0
for i in range(2, n//2):
    if(n % i == 0):
        count += 1
print(count == 0)

True

25. Write a Python program to check a number is Armstrong or not.

In [2]:
n = 153
l = len(str(n))
s = str(n)
arm = 0
for i in s:
    arm += int(i)**l
print(arm == n)

True

26. Write a Python program to print Fibonacci series of n term

In [3]:
n = 10
num1 = 0
num2 = 1
next_number = num2  
count = 1

while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

1 2 3 5 8 13 21 34 55 89

27. Write a Python program to implement multiplication table.

In [4]:
n = 5
for i in range(1,11):
    print(n,'*',i,'=',n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

28. Write a Python program to take a input from user in a list and print it.

In [6]:
ar =[]
n = int(input("Enter size: "))
for i in range(n):
    a = int(input("Enter value"))
    ar.append(a)
print(ar)

Enter size:  5
Enter value 2
Enter value 5
Enter value 7
Enter value 8
Enter value 3

[2, 5, 7, 8, 3]

29. Write a Python program to find the average of n numbers using list.

In [7]:
ar = [8,5,8,4,2]
avg = sum(ar)/len(ar)
print(avg)

5.4

30. Write a Python program to find the largest element in the list.

In [8]:
ar = [7,8,3,9,2]
print(max(ar))

9

31. Write a Python program to perform Linear search.

In [9]:
ar = [5,9,3,1,6]
n = int(input("Enter mumber to search: "))
print(n in ar)

Enter mumber to search:  9

True

32. Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. 

Suppose the following input is supplied to the program: 

Hello world 

Practice makes perfect 

Then, the output should be: 

HELLO WORLD 

PRACTICE MA
D 100 

Then, the output should be: 

500

In [11]:
s1 = 'Hello world'
s2 = 'Practice makes perfect'
print(s1.upper())
print(s2.upper())

HELLO WORLD
PRACTICE MAKES PERFECT

33. Write a program which accepts a sequence of comma‐separated numbers from console and generate a list and a tuple which contains every number. 

Suppose the following input is supplied to the program: 

34,67,55,33,12,98 

Then, the output should be: 

['34', '67', '55', '33', '12', '98'] 

('34', '67', '55', '33', '12', '98')

In [14]:

numbers = input("Enter comma-separated numbers: ")or
number_list = numbers.sp","('tuple
number_tuple = tuple(numbernd tuple
print("List:", number_list)
print("Tuple:", nuber_tuple)

SyntaxError: unterminated string literal (detected at line 2) (1866182568.py, line 2)

34. Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following: 

D 100 

W 200 

¡ 

D means deposit while W means withdrawal. 

Suppose the following input is supplied to the program: 

D 300 

D 300 

W 200 

D 100 

Then, the output should be: 

500

In [15]:
s = input("Enter operation: ")
l = s.split()
i = 0
a = 0
while(i < len(l)):
    if(l[i] == "W"):
        a -= int(l[i+1])
        i += 2
    elif(l[i] =="D"):
        a += int(l[i+1])
        i +=2
    else:
        break
print("Amount: ",a)

Enter operation:  D 5000 W 200 W 1000

Amount:  3800